<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Live Stream</h1>
    <div id="app">
        <div class="viewer">
            <img src="{{ url_for('video', camera_id=cam_id) }}">
        </div>
        <div class="list">
            <ul class="camera_list">
                <a href="?camid={{ floor1cam.changed_index }}"><li>1층 카메라</li></a>
                <a href="?camid={{ floor2cam.changed_index }}"><li>2층 카메라</li></a>
                <a href="?camid={{ floor3cam.changed_index }}"><li>3층 카메라</li></a>
                <a href="?camid={{ floor4cam.changed_index }}"><li>4층 카메라</li></a>
            </ul>
            <ul class="light_control">
                <li><a href="?camid={{cam_id}}&led0=1">1층 LED ON</a> / <a href="?camid={{cam_id}}&led0=0">1층 LED OFF</a></li>
                <li><a href="?camid={{cam_id}}&led1=1">2층 LED ON</a> / <a href="?camid={{cam_id}}&led1=0">2층 LED OFF</a></li>
                <li><a href="?camid={{cam_id}}&led2=1">3층 LED ON</a> / <a href="?camid={{cam_id}}&led2=0">3층 LED OFF</a></li>
                <li><a href="?camid={{cam_id}}&led3=1">4층 LED ON</a> / <a href="?camid={{cam_id}}&led3=0">4층 LED OFF</a></li>
            </ul>
        </div>
    </div>
</body>
</html>